/* font family work sans  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* font family work sans  */

body{
    margin: 0;
}

/* header section start  */

.header{
    background-color:rgba(255, 144, 14, 0.10);
    padding-bottom: 50px;
}

.header-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 240px 0px 228px;
    margin-bottom: 100px;

}

.hd-text-1{
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav ul{
    display: flex;
    justify-content: space-between;

}
.nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 50px;


}

.nav ul li a{
    text-decoration: none;
    color: var(--Dark-02, #424242);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
}

.header-2{
    max-width: 862px;
    margin: auto;
    text-align: center;
    

}

.hd-text-2{
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    
}

.all-p-tag{
    color: var(--Dark-03, #727272);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}

.btn{
    width: 180px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 32px;
}

.btn:hover{
    background-color: #FFF;
    color:#FF900E ;
}
.header-img{
    
}
.header-img img{
    max-width: 100%;
    height: auto;   
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

/* header section end  */



/* features map start  */


.features-map{
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 85px;
    
    
}
.features-map-img{
    max-width: 740px;
    height:auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 50px;
    row-gap: 30px;
    column-gap: 30px;
}
.features-map-img img {
    max-width: 342px;
    height: auto;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.fm-text-1{
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.features-map-1{
    margin-left: 73px;
}


/* features map end */



/* descripsion section start  */

.descripsion{
    max-width: 1440px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    gap: 150px;
    position: relative;
    padding-bottom: 60px;


}

.descripsion-1{
    max-width: 586px;
    
}

.ds-text-1{
    border-left: 5px solid #FF900E ;
    height: 106px;
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 26px;

}

.descripsion-2{
    background-image: url("images/architect.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 982px;
    width: 708px;
    
    
}

.descripsion-a{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 0px 0px 3px 30px;
    max-width: 586px;
    height: auto;
    margin-bottom: -15px;
}
.all-p{
    color: var(--Dark-03, #727272);
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;  
    max-width: 514px;   
}

.ds-text-2{
    color: var(--Dark-01, #131313);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: -8px;
    padding-top: 20px;
}

.big-btn{
    color: #FFF;
    text-align: center;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    background-color: #FF900E;
    border: none;
    max-width: 342px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 10px;
    position: absolute;
    left: 660px;
    bottom: 0px;
}



/* descripsion section end  */




/* posision section start  */

.posision{
    max-width: 1440px;
    margin: auto;
    padding-bottom: 50px;
    
}

.ps-text-1{
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    margin-top: 150px;
}

.posision-1{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    margin-top: 100px;
    
}

.posision-2{
    height: 241.831px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    margin: auto;
    width: 241.831px;


    
}

.posision-2 img{
    width: 45.221px;
    height: 45.221px;
    margin-top: 50px;
    
}

.ps-text-2{
    color: var(--Dark-02, #424242);
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.ps-text-3{
    color: var(--Dark-03, #727272);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


/* posision section end  */


/* sponsors section start  */


.sponsors{
        max-width: 1440px;
        margin: auto;
        text-align: center;
        margin-bottom: 50px;
}


.sp-text-1{
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.sponsors-3{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    
}

.sponsors-3 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* sponsors section end  */


.footer{
    max-width: 1440px;
    margin: auto;
    height: 100px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF4E7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 210px;

}
.pt-text{
    color: var(--Dark-02, #424242);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
}

/* resposive design  */

@media  screen and (max-width: 576px) {
    .header-1{
        flex-direction: column;
        padding: 0px;
    }
    
    .nav ul{
        flex-direction: column;
        padding-left: 0px;
      
    }
    .nav ul li{
        margin-left: 0px;
       
    }
    
    .features-map{
        flex-direction: column-reverse;
    }
    .features-map-img{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
        margin-left: 0px;
    }
    .descripsion{
        flex-direction: column;
    }
    .descripsion-2{
        background-size: cover;
        background-position: center;
        width: auto;
       
    }
    .big-btn{
        left: 0px;
    }
    .posision-1{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        
    }
    .posision-2{
        margin-bottom: 30px;
    }
    .sponsors-3{
        grid-template-columns: repeat(1, 1fr);
    }
    .sponsors-3 img{
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 768px){
    .header-1{
        flex-direction: column;
    }    
    .nav ul{
        padding-left:0px ;
    }
    .nav ul li{
        margin-left: 0px;
        padding: 20px;
    }
    .features-map{
        flex-direction: column;
    }
    .features-map-img{
        margin-left: 0px;
    }
    .features-map-1{
        text-align: center;
    }
    .descripsion{
        flex-direction: column;
    }
    .big-btn{
        left: 0px;
    }
    .posision-1{
        grid-template-columns: repeat(2, 1fr);
    }
    .posision-2{
        margin-bottom: 40px;
    }
    .sponsors-3{
        grid-template-columns: repeat(2, 1fr);
    }
    .sponsors-3 img{
        margin-bottom: 50px;
    }
}